footer {
    background-color: #1B2223;
    margin-top: 50px;
}

footer #footer {
    display: block;
    width: 90%;
    height: 400px;
    margin: 0px auto;
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-content: center;
}

footer #footer #mapa {
    align-self: center;
}

footer #footer #mapa iframe {
    display: block;
    width: 850px;
    height: 350px;
    margin: 20px;
    margin-left: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px gray;
}

footer #footer #contacto {
    display: block;
    align-self: center;
    margin-left: 40px;
}

footer #footer #contacto ul li {
    text-decoration: none;
    list-style: none;
}

footer #footer #contacto ul li a {
    display: block;
    color: #eeeeee;
    font-size: 50px;
}

footer #footer #contacto ul li a span {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 20px;
}

footer #footer #contacto ul li a:hover {
    transition: all 400ms;
    transform: translateX(5%);
    color: #e07827;
}

footer #footer #contacto ul #telefono i,
footer #footer #contacto ul #email i,
footer #footer #contacto ul #whatsapp i {
    margin-left: 6px;
}

footer #footer #contacto ul #telefono span,
footer #footer #contacto ul #email span,
footer #footer #contacto ul #whatsapp span {
    margin-bottom: 15px;
    margin-left: 24px;
}

footer #footer #contacto ul #telefono span {
    margin-left: 20px;
}

footer #footer #contacto ul #email i {
    margin-left: 3px;
}

footer #footer #contacto ul #tienda i {
    margin-left: 6px;
}

footer #footer #contacto ul #tienda span {
    margin-left: 26px;
}

footer #footer #contacto ul #whatsapp i {
    margin-left: 12px;
}

footer #footer #contacto ul #whatsapp span {
    margin-left: 33px;
}

footer #autor {
    border-top: 1px solid #ccc;
    color: #eeeeee;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

footer #autor p {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer #autor p a {
    text-decoration: none;
    color: #eeeeee;
}

@media (max-width: 1720px) {
    footer #footer #mapa iframe {
        width: 650px;
    }
}

@media (max-width: 1456px) {
    footer #footer {
        padding-left: 150px;
    }

    footer #footer #mapa iframe {
        width: 450px;
    }
}

@media (max-width: 1210px) {
    footer #footer {
        height: 770px;
        flex-direction: column;
        padding-left: 0px;
    }

    footer #footer #mapa {
        width: 100%;
    }

    footer #footer #mapa iframe {
        width: 95%;
    }

    footer #footer #contacto {
        width: 85%;
        margin: 0px auto;
        padding: 0px;
        margin-left: 30%;
    }
}

@media (max-width: 700px) {
    footer #footer #mapa iframe {
        margin-left: 4%;
    }

    footer #footer #contacto {
        width: 100%;
        margin-left: 15%;
    }
}

@media (max-width: 530px) {
    footer #footer {
        height: 700px;
    }

    footer #footer #contacto {
        margin-left: 5%;
    }

    footer #footer #contacto ul li a {
        font-size: 40px;
    }

    footer #footer #contacto ul li a span {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        margin-left: 20px;
    }

    footer #footer #contacto ul li a:hover {
        transition: all 400ms;
        transform: translateX(5%);
        color: #e07827;
    }

    footer #footer #contacto ul #whatsapp i {
        margin-left: 10px;
    }

    footer #autor {
        margin-bottom: 80px;
    }

}

@media (max-width: 380px) {
    footer #footer {
        height: 650px;
    }

    footer #footer #contacto {
        margin-left: 5%;
    }

    footer #footer #contacto ul li a {
        font-size: 35px;
    }

    footer #footer #contacto ul li a span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        margin-left: 20px;
    }

    footer #footer #contacto ul li a:hover {
        transition: all 400ms;
        transform: translateX(5%);
        color: #e07827;
    }

    footer #footer #contacto ul #whatsapp i {
        margin-left: 8px;
    }
}
