footer{
    background-color: #444;
    margin-top: 50px;
    #footer{
        display: block;
        width: 80%;
        height: 400px;
        margin: 0px auto;
        color: white;
        display: flex;
        flex-direction: row;
        align-content: center;
    
        #mapa{
            align-self: center;
            iframe{
                display: block;
                width: 850px;
                height: 350px;
                margin: 20px;
                margin-left: 40px;
                border-radius: 10px;
                border: none;
                box-shadow: 0px 0px 5px gray;
            }
        }
        #contacto{
            display: block;
            align-self: center;
            margin-left: 40px;
            
            ul{
                li{
                    text-decoration: none;
                    list-style: none;
                    a{
                        display: block;
                        color: white;
                        font-size: 50px;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 30px;
                            margin-left: 20px;
                        }
                       
                    }
                    a:hover{
                        transition: all 400ms;
                        transform: translateX(5%);
                        color: #e07827;
                    }  
                    
                }
                #telefono,
                #email,
                #whatsapp{
                    i{
                        margin-left: 6px;
                    }
                    span{
                        margin-bottom: 15px;
                        margin-left: 24px;
                    }
                }
                #telefono{
                    span{
                        margin-left: 20px;
                    }
                }
                #email{
                    i{
                        margin-left: 3px;
                    }
                }
                #whatsapp{ // CON ICONO DE CELULAR
                    i{
                        margin-left: 12px;
                    }
                    span{
                        margin-left: 33px;
                    }
                }
            }
            
        }
    }
    #autor{
        border-top: 1px solid #ccc;
        color: white;
        margin-top: 20px;
        text-align: center;
        opacity: 0.8;
        font-size: 20px;
        p{
            padding-top: 20px;
            padding-bottom: 20px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media(max-width: 1720px){
    footer{
        #footer{
            #mapa{
                iframe{
                    width: 650px;
                }
            }
        }
    }    
}
@media(max-width: 1456px){
    footer{
        #footer{
            #mapa{
                iframe{
                    width: 450px;
                }
            }
            padding-left: 150px;
        }
    }    
}
@media(max-width: 1210px){
    footer{
        #footer{
            height: 700px;
            
            flex-direction: column;
            #mapa{
                width: 100%;
                iframe{
                    width: 95%;
                }
            }
            padding-left: 0px;
            #contacto{
                width: 85%;

                margin: 0px auto;
                padding: 0px;
                margin-left: 30%;
                
            }
        }
    }    
}
@media(max-width: 950px){
}
@media(max-width: 700px){
    footer{
        #footer{
            #mapa{
                iframe{
                    margin-left: 4%;
                }
            }
            #contacto{
                width: 100%;
        
                
                margin-left: 15%;
            }
    
        }
    }
}
@media(max-width: 530px){
    footer{
        
        #footer{
            height: 630px;
            #contacto{                
                margin-left: 15%;
                ul{
                    li{
                        a{

                            font-size: 40px;
                            span{
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 20px;
                                margin-left: 20px;
                            }
                        }
                           
                        
                        a:hover{
                            transition: all 400ms;
                            transform: translateX(5%);
                            color: #e07827;
                        }  
                        
                    }
                    #whatsapp{
                        i{
                            margin-left: 10px;
                        }
                    }
                }
            }
    
        }
    }
}

@media(max-width: 380px){
    footer{
        
        #footer{
            height: 600px;
            #contacto{                
                margin-left: 5%;
                ul{
                    li{
                        a{

                            font-size: 35px;
                            span{
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 17px;
                                margin-left: 20px;
                            }
                        }
                           
                        
                        a:hover{
                            transition: all 400ms;
                            transform: translateX(5%);
                            color: #e07827;
                        }  
                        
                    }
                    #whatsapp{
                        i{
                            margin-left: 8px;
                        }
                    }
                }
            }
    
        }
    }
}
